@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

body{
    background: #0d5060;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 40px 60px;
    color: whitesmoke;
}
header{
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 80px;
}

h1{
  color: #ffffE3;
  font-size: 1.5rem;
}

p{
  color: #fff;
  font-size: 1rem;
}

#numb{
    position: relative;
    top: 50%;
    left: 50%;
    background: #4ec4c3;
}



.box-r{
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #00b5ff;
}
  
#n2 {
    position: relative;
    top: 20px;
    left: 20px;
    background: #00ffff;
}



.box-a {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: #a2d9ce;
    color: white;
  }
  
#dos {
    position: absolute;
    top: 900px;
    left: 400px;
    background: #7fadca;
}



.box {
    width: 100px;
    height: 100px;
    background: #c5f6ff;
    position: fixed;
    top: 85%;
    left: 90%;
  }
  
  .text{
    width: 500px;
    height: 300px;
    padding-left: 100px;
  }

  